@import "../variables";

.container-about-me {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    flex: 1;
}
@media(min-width: 1024px) {
    .container-about-me {
        height: 37rem;
        flex-direction: row;
        height: auto;
    }
}
.about-me {
    margin: 2rem;
    flex: 1;
}
.about-me p {
    font-size: 1.3rem;
}
.about-me > p {
    margin-bottom: 1rem;
}
.about-me h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 2.5rem;
}
#my-room > canvas {
    width: 100% !important; 
    height: 100% !important;
    margin: 0 auto;
}
#my-room {
    width: 300px;
    height: 300px;
    flex: 1.5;
}
@media (min-width: 480px) {
    #my-room {
        width: 500px;
        height: 500px;
    }
}
@media (min-width: 840px) {
    #my-room {
        width: 500px;
        height: 500px;
    }
    #my-room > canvas {
        width: 80% !important; 
        height: 100% !important;
        margin: 0 auto;
    }
}

.highlighted {
    color: var(--blue-50);
}