@import "../variables";

<<<<<<< HEAD
.form {
    padding: 2rem;
    margin: 3rem auto 3rem;
    max-width: 30rem;
    border: 2px solid #1b6081;
    border-radius: .5rem;
}
input, textarea {
    width: 100%;
}
textarea {
    max-width: 25.7rem;
    max-height: 20rem;
    min-height: 10rem;
}
fieldset {
    padding: 2rem;
    border: none;
=======
.container-form {
    
}
.form {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--blue-50);
    max-width: 30rem;
    margin: 3rem auto;
>>>>>>> 4821c1022e95ec8de0ad5b3a46cbcbed54cd1364
}
.camp {
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form label {
    flex: 1;
    color: white;
}
<<<<<<< HEAD

.button-submit {
=======
.form input, .form textarea {
    flex: 2;
    border-radius: .2rem;
    padding: .2rem .5rem;
    font-family: "Roboto", sans-serif;
}
form .button-submit {
>>>>>>> 4821c1022e95ec8de0ad5b3a46cbcbed54cd1364
    display: block;
    margin: 0 0 0 auto;
    background-color: var(--blue-300);
    color: white;
    padding: .5rem 1rem;
<<<<<<< HEAD
    font-family: "Roboto";
}
@media (min-width: 840px) {
    .button-submit {
        width: auto;
    }
}
.button-submit:hover {
    background-color: #124056;
    cursor: pointer;
}
.input-group {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}
.input {
    border: 2px solid #1b6081;
    border-radius: 1rem;
    background: none;
    padding: .5rem 1rem;
    font-size: auto;
    color: white;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    position: absolute;
    left: 15px;
    color: #ebebeb;
    pointer-events: none;
    transform: translateY(8px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
.input:focus{
    outline: none;
}
.input:focus ~ label{
    transform: translateY(-90%) scale(0.8);
}
.pin-text {
    transform: translateY(-90%) scale(0.8);
=======
}

form .button-submit:hover {
    background-color: #124056;
    cursor: pointer;
>>>>>>> 4821c1022e95ec8de0ad5b3a46cbcbed54cd1364
}