@import "./variables";

.button {
    display: block;
    margin: 2rem 2rem 2rem auto;
    background-color: var(--blue-100);
    color: black;
    font-weight: bold;
    border-radius: .1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}
.button:hover {
    background-color: #76909c;
}
.bold {
    font-weight: bold;
}