:root {
    --gray-100: #78787B;
    --gray-200: #626267;
    --gray-300: #535359;
    --gray-400: #4D4C51;
    --gray-500: #0D1117;
    --blue-title: #00aeff;
    --blue-50: #2995c7;
    --blue-100: #7f9dab;
    --blue-200: #5D6C75;
    --blue-300: #154b64;
}